@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  margin: 41px 0 0 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1215px;
  margin: 0 auto 0 auto;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header_logo__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 36px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(180deg, #FF8A56 0%, #FF5E69 99.48%);
}

.main_nav {
  width: 38%;
}

.main_nav__block {
  list-style-type: none;
  max-width: 455px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_nav__block li {
  display: inline-block;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #000;
  cursor: pointer;
}

#main_wrapper {
  flex-direction: column;
}

.main_content {
  min-width: 100%;
  margin: 90px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 74px;
  line-height: 82px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
h1 span {
  color: #FF8A56;
}

.main_sub-title {
  max-width: 547px;
  margin: 34px 0 0 0;
}

.sub-title {
  font-size: 22px;
  line-height: 33px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.main_btns {
  max-width: 320px;
  margin: 38px 0 0 0;
}

.main_btns__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call_btn {
  max-width: 151px;
  width: 151px;
  max-height: 58px;
  height: 58px;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.CV_download_btn {
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.partners_block {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 62px 0 0 0;
}

.partners_trusted p {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.partners_logo {
  max-width: 864px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 0 0;
}

.services_content {
  margin: 156px 0 0 0;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 4px;
  color: #FF5E69;
  text-transform: uppercase;
}
.services_title p {
  max-width: 768px;
  text-align: center;
  margin: 20px 0 0 0;
}

.services_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.services_variable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 115px 0 0 0;
  max-width: 100%;
  width: 100%;
}

.provide_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}
.provide_logo img {
  position: relative;
}

.circle {
  z-index: 2;
}

.circleshadow {
  z-index: 1;
  right: 30px;
}

.smallcircle {
  z-index: 2;
  right: 32px;
}

.smallcircleshadow {
  z-index: 1;
  right: 46px;
}

.provide_title {
  margin: 39px 0 0 0;
}
.provide_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.provide_text {
  margin: 25px 0 0 0;
  max-width: 256px;
}
.provide_text p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.provide_all-services {
  margin: 21px 0 0 0;
}
.provide_all-services ul {
  margin: 0 0 0 20px;
}
.provide_all-services ul li {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  list-style-type: square;
}

.multilingual_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}
.multilingual_logo img {
  position: relative;
}

.triangle {
  z-index: 2;
  bottom: 16px;
}

.triangleshadow {
  z-index: 1;
  right: 32px;
  bottom: 14px;
}

.triangle2 {
  z-index: 2;
  top: 10px;
  right: 53px;
}

.triangle2shadow {
  z-index: 1;
  right: 85px;
  top: 13px;
}

.multilingual_title {
  margin: 39px 0 0 0;
}
.multilingual_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.multilingual_text {
  margin: 25px 0 0 0;
  max-width: 256px;
}
.multilingual_text p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.multilingual_all-services {
  margin: 21px 0 0 0;
}
.multilingual_all-services ul {
  margin: 0 0 0 20px;
}
.multilingual_all-services ul li {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  list-style-type: square;
}

.usable_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}
.usable_logo img {
  position: relative;
}

.vector {
  z-index: 2;
  bottom: 23px;
  left: 22px;
}

.vectorshadow {
  z-index: 1;
  bottom: 20px;
}

.vector2 {
  z-index: 2;
  right: 48px;
  top: 8px;
}

.vector2shadow {
  z-index: 1;
  right: 111px;
  top: 11px;
}

.usable_title {
  margin: 39px 0 0 0;
}
.usable_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.usable_text {
  margin: 25px 0 0 0;
  max-width: 256px;
}
.usable_text p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.usable_all-services {
  margin: 21px 0 0 0;
}
.usable_all-services ul {
  margin: 0 0 0 20px;
}
.usable_all-services ul li {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  list-style-type: square;
}

#projects_wrapper {
  max-width: 100%;
  background: linear-gradient(to bottom, #fff 74%, #000 26%);
}

.projects_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1215px;
  margin: 167px 0 0 0;
}

.projects_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
}

.projects_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 544px;
}
.projects_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #B16CEA;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.projects_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.projects_all__btn button {
  max-width: 201px;
  width: 201px;
  min-height: 58px;
  height: 58px;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.projects_slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 70px 0 0 0;
}

.projects_slide_branding {
  margin: 0 24px 0 0;
}
.projects_slide_branding img {
  display: block;
}

.slide_branding_content {
  padding: 33px 0 35px 32px;
  background: #fff;
}

.slide_branding_title h2 {
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #3C46FF;
}

.slide_branding_sub-title {
  margin: 17px 0 0 0;
}
.slide_branding_sub-title p {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.projects_slide_design {
  margin: 0 24px 0 0;
}
.projects_slide_design img {
  display: block;
}

.slide_design_content {
  padding: 33px 0 35px 32px;
  background: #fff;
}

.slide_design_title h2 {
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #3C46FF;
}

.slide_design_sub-title {
  margin: 17px 0 0 0;
}
.slide_design_sub-title p {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.projects_slide_web-design {
  margin: 0 24px 0 0;
}
.projects_slide_web-design img {
  display: block;
}

.slide_web-design_content {
  padding: 33px 0 35px 32px;
  background: #fff;
}

.slide_web-design_title h2 {
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #3C46FF;
}

.slide_web-design_sub-title {
  margin: 17px 0 0 0;
}
.slide_web-design_sub-title p {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.projects_slide_web-developer img {
  display: block;
}

.slide_web-developer_content {
  padding: 33px 0 35px 32px;
  background: #fff;
}

.slide_web-developer_title h2 {
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  ext-transform: uppercase;
  color: #3C46FF;
}

.slide_web-developer_sub-title {
  margin: 17px 0 0 0;
}
.slide_web-developer_sub-title p {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.projects_slide_btn {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 19px 0 0 0;
  cursor: pointer;
}

.projects_prev-next {
  min-width: 50%;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 26px 0 0 0;
}

.prev {
  max-width: 54px;
  width: 54px;
  max-height: 54px;
  height: 54px;
  background: #fff;
  margin: 0 7px 0 0;
  cursor: pointer;
}

.next {
  max-width: 54px;
  width: 54px;
  max-height: 54px;
  height: 54px;
  background: #fff;
  cursor: pointer;
}

#blogs_wrapper {
  width: 100%;
  min-width: 100%;
  background: #000;
}

.blogs_content {
  max-width: 1215px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 38px 0 0 0;
}

.blogs_header button {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  margin: 32px 0 0 0;
  color: #fff;
  background: #ffffff00;
  cursor: pointer;
}
.blogs_header button img {
  margin: 0 0 0 10px;
}

.blogs_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #FFA84B;
  text-transform: uppercase;
}

.blogs_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  margin: 20px 0 0 0;
  color: #fff;
}

.blogs_post {
  max-width: 692.55px;
  margin: 19px 0 144px 0;
}

.blog_first {
  border-bottom: 1px solid #FFFFFF4D;
  padding: 0 0 35.73px 0;
}

.blog_date {
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #FFFFFFB2;
}

.blog_text {
  font-size: 28px;
  line-height: 36px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  max-width: 574px;
  color: #fff;
  margin: 26px 0 0 0;
}

.blog_read {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  margin: 39px 0 0 0;
  background: #00000000;
  color: #fff;
  cursor: pointer;
}

.blog_second {
  border-bottom: 1px solid #FFFFFF4D;
  padding: 0 0 35.73px 0;
}
.blog_second .blog_date {
  margin: 61.27px 0 0 0;
}

.blog_third {
  border-bottom: 1px solid #FFFFFF4D;
  padding: 0 0 35.73px 0;
}
.blog_third .blog_date {
  margin: 61.27px 0 0 0;
}

.blog_four {
  border-bottom: 1px solid #FFFFFF4D;
  padding: 0 0 35.73px 0;
}
.blog_four .blog_date {
  margin: 61.27px 0 0 0;
}

.blog_five {
  border-bottom: 1px solid #FFFFFF4D;
  padding: 0 0 35.73px 0;
}
.blog_five .blog_date {
  margin: 61.27px 0 0 0;
}

.product_content {
  max-width: 1215px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 156px 0 0 0;
}

.product_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FF5E69;
}

.product_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.product_text {
  max-width: 625px;
}
.product_text p {
  font-size: 22px;
  line-height: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #666666;
}

.product_gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-height: 626px;
  height: 626px;
  margin: 115px 0 0 0;
}

.phone_block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc_block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ed-ex_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 154px 0 0 0;
}

.ed_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.ed_title p {
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.ed_stanford {
  max-width: 100%;
  width: 100%;
  margin: 83px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.ed_stanford_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ed_stanford_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ed_stanford_title img {
  cursor: pointer;
}

.ed_stanford_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ed_stanford_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.ed_mit {
  max-width: 100%;
  width: 100%;
  margin: 32px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.ed_mit_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ed_mit_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ed_mit_title img {
  cursor: pointer;
}

.ed_mit_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ed_mit_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.ed_california {
  max-width: 100%;
  width: 100%;
  margin: 32px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.ed_california_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ed_california_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ed_california_title img {
  cursor: pointer;
}

.ed_california_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ed_california_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.ex_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.ex_title p {
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.ex_spacefleet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin: 83px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.rocket_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFB4E9;
}

.ex-in_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 86%;
}

.ex_spacefleet_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ex_spacefleet_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ex_spacefleet_title img {
  cursor: pointer;
}

.ex_spacefleet_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ex_spacefleet_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.ex_musicmash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin: 32px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.music_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #A5BEFF;
}

.ex_musicmash_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ex_musicmash_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ex_musicmash_title img {
  cursor: pointer;
}

.ex_musicmash_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ex_musicmash_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.ex_kingdom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin: 32px 0 0 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0 39px 0;
}

.kingdom_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFC960;
}

.ex_kingdom_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ex_kingdom_title h2 {
  font-size: 24px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.ex_kingdom_title img {
  cursor: pointer;
}

.ex_kingdom_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 9px 0 0 0;
}
.ex_kingdom_sub-title p {
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #00000099;
}

.testimonials_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 191px 0 0 0;
  width: 100%;
}

.testimonials_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #4353FF;
  letter-spacing: 4px;
}

.testimonials_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
}

.testimonials_slides {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  margin: 85px 0 0 0;
}

.testimonials_slide_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials_slide_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 565px;
}

.testimonial_description {
  margin: 32px 0 0 0;
}
.testimonial_description p {
  font-size: 36px;
  line-height: 47px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

.testimonial_author {
  margin: 109px 0 0 0;
}
.testimonial_author h2 {
  font-size: 20px;
  line-height: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
.testimonial_author p {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

.testimonial_prev {
  position: relative;
  bottom: 58px;
  left: 1130px;
  width: 54px;
  height: 54px;
  background: #000;
  cursor: pointer;
}

.testimonial_next {
  position: relative;
  bottom: 112px;
  left: 1184px;
  width: 54px;
  height: 54px;
  background: #000;
  cursor: pointer;
}

#faq_wrapper {
  width: 100%;
  min-width: 100%;
  background: #000;
}

.faq_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1215px;
  width: 100%;
  margin: 78px 0 0 0;
}

.faq_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faq_title h2 {
  font-size: 22px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #FF8A56;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.faq_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.faq_questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.faq_question {
  width: 583px;
  border-bottom: 1px solid #E5E5E54D;
  padding: 0 0 49px 0;
  margin: 150px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq_question p {
  font-size: 24px;
  line-height: 31px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.second {
  margin: 30px 0 0 0;
}

.third {
  margin: 30px 0 0 0;
}

.four {
  margin: 30px 0 72px 0;
}

.six {
  margin: 30px 0 0 0;
}

.seven {
  margin: 30px 0 0 0;
}

.eight {
  margin: 30px 0 72px 0;
}

#footer_wrapper {
  max-width: 100%;
  width: 100%;
  background: #000;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1215px;
  max-width: 100%;
}

.footer_text {
  width: 100%;
}

.footer_title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.footer_sub-title {
  font-size: 54px;
  line-height: 59px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  color: #3C46FF;
}

.about_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 95px 0 0 0;
}

.address_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.address_content div {
  max-width: 325px;
  width: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.address_content div:nth-child(2) {
  margin: 18px 0 0 0;
}

.address {
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #666666;
}

.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px 0 0 0;
}

.mail_address {
  font-size: 17px;
  line-height: 36px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #5c5c5c;
  margin: 0 0 0 6px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 485px;
  width: 485px;
}

.about_column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.about_column ul li {
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  list-style-type: none;
  color: #fff;
  cursor: pointer;
}
.about_column ul li:nth-child(1) {
  margin: 0 0 20px 0;
}
.about_column ul li:nth-child(2) {
  margin: 0 0 20px 0;
}

.copyright {
  width: 100%;
  margin: 140px 0 0 0;
}
.copyright p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #8A95AD;
}

/*# sourceMappingURL=style.css.map */
